<html lang="en">
<head>
	<title>Home Page</title>
</head>
<body class="is-preload">
    <section class="hero">
        <header class="hero-header">
            <h1 class="hero-title"></h1>
        </header>
    </section>
    <article>
        <!-- start the realm of the buttons -->
        <div id="buttons">
            <a asp-controller="Courses" asp-action="Index" class="btn green">Курси</a>
            <a asp-controller="Shedule" asp-action="Index" class="btn green">Розклад</a>
            <a asp-controller="Assignment" asp-action="Index" class="btn green">Завдання</a>
            <a asp-controller="Curriculum" asp-action="Index" class="btn green">Навчальний план</a>
            <a asp-controller="SuccessRate" asp-action="Index" class="btn green">Успішність</a>
            <a href="#" class="btn green">Новини</a>
        </div>
    </article>


	@*<div class="main_div">
    <div class="photo_div">
        <img src="../images/university.jfif"/>
    </div>
    <div class="buttons_div">
        <div class="buttons_columns">
            <div class="column_div">
                <div class="button_div">
                    <a asp-controller="Shedule" asp-action="Index"><div class="page_button">Розклад</div></a>
                    <a asp-controller="Assignment" asp-action="Index"><div class="page_button">Завдання</div></a>
                    <a asp-controller="Curriculum" asp-action="Index"><div class="page_button">Навчальний план</div></a>
                </div>
            </div>
            <div class="column_div">
                <div class="button_div">
                    <a asp-controller="Courses" asp-action="Index"><div class="page_button">Курси</div></a>
                    <a><div class="page_button">Успішність</div></a>
                    <a><div class="page_button">Новини</div></a>
                </div>
            </div>
        </div>
    </div>*@
</div>
</body>
</html>

